In [93]:
#Pandas Homework
#Heroes of Pymoli

In [94]:
import pandas as pd

In [95]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [96]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
* Display the total number of players

In [97]:
player_count = len(purchase_data["SN"].unique())
players_df = pd.DataFrame({"Total Players": [player_count]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
# this formats the decimals to two places throughout (Not needed with the format_dict option?)
#pd.options.display.float_format = '{:,.2f}'.format

In [99]:
# Add up the number of unique items:
unique_items = len(purchase_data["Item ID"].unique())

# Calculate average price: 
average_price = (purchase_data["Price"].mean())

# The number of purchases is the length of the Purchase ID column:
number_of_purchases = len(purchase_data["Purchase ID"].unique())

# Calculate total revenue, the sum of all the prices in Prices column:
total_revenue = purchase_data["Price"].sum()

# Create dictionary for the dataframe:
purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], 
                                            "Average Price": [average_price],
                                            "Number of Purchases": [number_of_purchases],
                                            "Total Revenue": total_revenue
                                            })

# Change format of price and Revenue to $0.00:
format_dict = {"Average Price":'${:,.2f}', "Total Revenue": '${:,.2f}'}

purchasing_analysis_total_df.style.format(format_dict)

# Gender Demographics
 
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [103]:
# Remove duplicate entries based on duplicates of SN (Screen name?):
unique_players_df = purchase_data.drop_duplicates("SN")

#Group and add to frame instead of series:
gender_dem_df = unique_players_df.groupby(["Gender"])["SN"].count().to_frame()

# Rename the count of SN column to Total Count:
gender_dem_df = gender_dem_df.rename(columns = {"SN": "Total Count"})

# Calculate precent of genders, format percentages to 0.00%
gender_dem_df["Percent of Players"] = gender_dem_df["Total Count"] / len(unique_players_df) * 100

gender_dem_df["Percent of Players"] = gender_dem_df["Percent of Players"].astype(float).map('{:,.2f}%'.format)

# Re-index (Reorder) the rows from Fem, Male, Other to highest numbers to lowest:
gender_dem_df = gender_dem_df.reindex(["Male", "Female", "Other / Non-Disclosed"])

# Show table:
gender_dem_df

                       Total Count Percent of Players
Gender
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

# Purchasing Analysis (Gender)
 
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame