In [1]:
#Pandas Homework
#Heroes of Pymoli

In [2]:
import pandas as pd

In [3]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
* Display the total number of players

In [5]:
player_count = len(purchase_data["SN"].unique())
players_df = pd.DataFrame({"Total Players": [player_count]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# this formats the decimals to two places throughout (Not needed with the format_dict option?)
#pd.options.display.float_format = '{:,.2f}'.format

In [10]:
# Add up the number of unique items:
unique_items = len(purchase_data["Item ID"].unique())

# Calculate average price: 
average_price = (purchase_data["Price"].mean())

# The number of purchases is the length of the Purchase ID column:
number_of_purchases = len(purchase_data["Purchase ID"].unique())

# Calculate total revenue, the sum of all the prices in Prices column:
total_revenue = purchase_data["Price"].sum()

# Create dictionary for the dataframe:
purchasing_total_df = pd.DataFrame({"Unique Items": [unique_items], 
                                            "Average Price": [average_price],
                                            "Number of Purchases": [number_of_purchases],
                                            "Total Revenue": total_revenue
                                            })
# Format dollar values:
purchasing_total_df["Average Price"] = purchasing_total_df["Average Price"].map("${:.2f}".format)
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:.2f}".format)
# Show table:
purchasing_total_df


# Alternate way to change format of price and Revenue to $0.00:
#format_dict = {"Average Price":'${:,.2f}', "Total Revenue": '${:,.2f}'}
#purchasing_total_df.style.format(format_dict)

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780      $2379.77

# Gender Demographics
 
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
total_males = purchase_data.loc[purchase_data["Gender"] == "Male"]     # Find total male rows with loc
males_unique = len(total_males["SN"].unique())                         # Find number of unique males by SN
male_percent = (males_unique / player_count * 100)                     # Calculate percent

total_females = purchase_data.loc[purchase_data["Gender"] == "Female"] # Find total female rows with loc 
females_unique = len(total_females["SN"].unique())                     # Find number of unique females by SN 
female_percent = (females_unique / player_count * 100)                 # Calculate percent

total_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]  # Find total Other
other_unique = len(total_other["SN"].unique())                         # Find number of unique Other
other_percent = (other_unique / player_count * 100)                    # Calculate percent

# Create dataframe with a dictionary of lists:
gender_dem_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Players": [males_unique, females_unique, other_unique],
    "Percent of Players": [male_percent, female_percent, other_percent]})

# Format Percent of Players column as %:
gender_dem_df["Percent of Players"] = gender_dem_df["Percent of Players"].map("{:.2f}%".format)

# Set Gender as the index column:
gender_dem_df = gender_dem_df.set_index("Gender")
gender_dem_df

                       Total Players Percent of Players
Gender
Male                             484             84.03%
Female                            81             14.06%
Other / Non-Disclosed             11              1.91%

# Purchasing Analysis (Gender)
 
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:

# Find purchase count per gender using groupby:
gender_purchase_df = pd.DataFrame(purchase_data.groupby(["Gender"])["SN"].count())

# Find average purchase price by gender using groupby:
gender_purchase_df["Average Purchase Price"] = purchase_data.groupby(["Gender"])["Price"].mean()

# Find value of total purchases per gender using groupby:
gender_purchase_df["Total Purchase Value"] = purchase_data.groupby(["Gender"])["Price"].sum()

# Find total average total per person using group by and the unique gender totals from previous df:
gender_purchase_df["Average Total Purchase Per Person"] = gender_purchase_df["Total Purchase Value"] / \
    gender_dem_df["Total Players"]

# Formatting:
#Rename the SN column:
gender_purchase_df = gender_purchase_df.rename(columns = {"SN": "Purchase Count"})

# Change these columns to a $0.00 format:
gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_df["Average Total Purchase Per Person"] = gender_purchase_df["Average Total Purchase Per Person"].map("${:.2f}".format)

# Show data frame:
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
 
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [58]:
#Create bins:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# Create group labels:
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], bins = age_bins, labels=group_labels).head(10)

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    20-24
8    20-24
9    35-39
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [59]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins = age_bins, labels=group_labels)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [60]:
unique_purchase_data = purchase_data.drop_duplicates(["SN"])
unique_purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [71]:
age_groups = (unique_purchase_data.groupby("Age Group"))
print(age_groups["SN"].count())

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64