In [233]:
#Pandas Homework
#Heroes of Pymoli

In [234]:
import pandas as pd

In [235]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [236]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count
* Display the total number of players

In [237]:
player_count = len(purchase_data["SN"].unique())
players_df = pd.DataFrame({"Total Players": [player_count]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [238]:
# Add up the number of unique items:
unique_items = len(purchase_data["Item ID"].unique())

# Calculate average price: 
average_price = (purchase_data["Price"].mean())

# The number of purchases is the length of the Purchase ID column:
number_of_purchases = len(purchase_data["Purchase ID"].unique())

# Calculate total revenue, the sum of all the prices in Prices column:
total_revenue = purchase_data["Price"].sum()

# Create dictionary for the dataframe:
purchasing_total_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                            "Average Price": [average_price],
                                            "Number of Purchases": [number_of_purchases],
                                            "Total Revenue": total_revenue
                                            })
# Format dollar values.  Added a comma for Total Purchase Value, since it's in the thousands.:
purchasing_total_df["Average Price"] = purchasing_total_df["Average Price"].map("${:.2f}".format)
purchasing_total_df["Total Revenue"] = purchasing_total_df["Total Revenue"].map("${:,.2f}".format)
# Show table:
purchasing_total_df


# Alternate way to change format of price and Revenue to $0.00:
#format_dict = {"Average Price":'${:,.2f}', "Total Revenue": '${:,.2f}'}
#purchasing_total_df.style.format(format_dict)

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics
 
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [239]:
# Calculations for genders:
total_males = purchase_data.loc[purchase_data["Gender"] == "Male"]     # Find total male rows with loc
males_unique = len(total_males["SN"].unique())                         # Find number of unique males by SN
male_percent = (males_unique / player_count * 100)                     # Calculate percent

total_females = purchase_data.loc[purchase_data["Gender"] == "Female"] # Find total female rows with loc 
females_unique = len(total_females["SN"].unique())                     # Find number of unique females by SN 
female_percent = (females_unique / player_count * 100)                 # Calculate percent

total_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]  # Find total Other
other_unique = len(total_other["SN"].unique())                         # Find number of unique Other
other_percent = (other_unique / player_count * 100)                    # Calculate percent

# Create dataframe with a dictionary of lists:
gender_dem_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Players": [males_unique, females_unique, other_unique],
    "Percentage of Players": [male_percent, female_percent, other_percent]})

# Format Percent of Players column as %:
gender_dem_df["Percentage of Players"] = gender_dem_df["Percentage of Players"].map("{:.2f}%".format)

# Set Gender as the index column:
gender_dem_df = gender_dem_df.set_index("Gender")
gender_dem_df

                       Total Players Percentage of Players
Gender
Male                             484                84.03%
Female                            81                14.06%
Other / Non-Disclosed             11                 1.91%

# Purchasing Analysis (Gender)
 
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [228]:

# Find purchase count per gender using groupby:
gender_purchase_df = pd.DataFrame(purchase_data.groupby(["Gender"])["SN"].count())

# Find average purchase price by gender using groupby:
gender_purchase_df["Average Purchase Price"] = purchase_data.groupby(["Gender"])["Price"].mean()

# Find value of total purchases per gender using groupby:
gender_purchase_df["Total Purchase Value"] = purchase_data.groupby(["Gender"])["Price"].sum()

# Find total average total per person using group by and the unique gender totals from previous df:
gender_purchase_df["Average Total Purchase Per Person"] = gender_purchase_df["Total Purchase Value"] / \
    gender_dem_df["Total Players"]

# Formatting:
#Rename the SN column:
gender_purchase_df = gender_purchase_df.rename(columns = {"SN": "Purchase Count"})

# Change these columns to a $0.00 format.  Added a comma for Total Purchase Value, since it's in the thousands.:
gender_purchase_df["Average Purchase Price"] = gender_purchase_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_df["Total Purchase Value"] = gender_purchase_df["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_df["Average Total Purchase Per Person"] = gender_purchase_df["Average Total Purchase Per Person"].map("${:.2f}".format)

# Show data frame:
gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
 
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [222]:
# Check min and max for ages:
#print(purchase_data["Age"].min())  (Minimum was 7)
#print(purchase_data["Age"].max())  (Maximum was 45)

#Create bins and labels:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice the data and place it into bins
#pd.cut(purchase_data["Age"], bins = age_bins, labels=group_labels).head(10)

# Adding an Age Group column to the purchase data:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins = age_bins, labels=group_labels)

# Drop the duplicate rows in purchase_data based on SN:
unique_purchase_data = purchase_data.drop_duplicates(["SN"])
unique_purchase_data.head()

# Create an age group df and rename the Total Count column:
age_group_df = pd.DataFrame(unique_purchase_data.groupby(["Age Group"])["SN"].count())
age_group_df = age_group_df.rename(columns = {"SN": "Total Count"})

# Use the number of total players in the table without duplicates, calculate the percent, and add to table:
total_players = len(unique_purchase_data["SN"])
age_group_df["Percentage of Players"] = age_group_df["Total Count"] / total_players * 100

# Format for %
age_group_df["Percentage of Players"] = age_group_df["Percentage of Players"].map("{:.2f}%".format)

# Show table:
age_group_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

# Purchasing Analysis (Age)
 
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [223]:
purchase_data = pd.read_csv(file_to_load)
# Create bins and labels:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Create a column for ages:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins = age_bins, labels=group_labels)
#purchase_data.head()

# Create a df for age-group purchasing analysis:
age_group_purchases = pd.DataFrame(purchase_data.groupby(["Age Group"])["Item ID"].count())

# Rename Item ID column for total purchase count:
age_group_purchases = age_group_purchases.rename(columns = {"Item ID": "Purchase Count"})

# Calculate sum of prices and purchases per age group, to be used for average:
total_price = purchase_data.groupby(["Age Group"])["Price"].sum()
total_purchases = purchase_data.groupby(["Age Group"])["Price"].count()

# Calculate average purchase price per person, total purchase value, and average person for each age group:
age_group_purchases["Average Purchase Price"] = total_price / total_purchases
age_group_purchases["Total Purchase Value"] = (age_group_purchases["Purchase Count"] * \
                                               age_group_purchases["Average Purchase Price"])
age_group_purchases["Average Total Purchase Per Person"] = (age_group_purchases["Total Purchase Value"] / \
                                                            age_group_df["Total Count"])

# Formatting to change the monetary values to $0.00 (added a comma for Total Value, since it's in the thousands):
age_group_purchases["Average Purchase Price"] = age_group_purchases["Average Purchase Price"].map("${:.2f}".format)
age_group_purchases["Total Purchase Value"] = age_group_purchases["Total Purchase Value"].map("${:,.2f}".format)
age_group_purchases["Average Total Purchase Per Person"] = age_group_purchases["Average Total Purchase Per Person"].map("${:.2f}".format)
age_group_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders
 
* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [224]:
# Sort the purchase_data by screen name:
top_spenders = purchase_data.groupby("SN")

# Calculate number of purchases, average price, and total amount spent per screen name:
spender_count = top_spenders["Purchase ID"].count()
average_price = top_spenders["Price"].mean()
total_value = top_spenders["Price"].sum()

# Assign calculations to a new dataframe:
top_spenders_df = pd.DataFrame({"Purchase count": spender_count,
                               "Average Purchase Price": average_price,
                               "Total Purchase Value": total_value})

# To sort from highest to lowest, ascending=False must be passed in:
# (freedom_df = happiness_df.sort_values("Freedom", ascending=False) )
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value", ascending = False)

# Formatting the two monetary columns into $0.00:
top_spenders_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:.2f}".format)
top_spenders_df.head()

             Purchase count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items
 
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [225]:
# Retrieve the Item ID, Item Name, and Item Price columns
reduced_list = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name.
grouped_list = reduced_list.groupby(["Item ID", "Item Name"])

# Perform calculations to obtain purchase count, average item price, and total purchase value:
popular_purchase_count = grouped_list["Item Name"].count()  # Note: Either of the column names works here
popular_total_value = grouped_list["Price"].sum()
popular_item_price = popular_total_value / popular_purchase_count

# Create a summary data frame to hold the results: 
popular_items = pd.DataFrame({"Purchase Count": popular_purchase_count,
                              "Item Price": popular_item_price,
                              "Total Purchase Value": popular_total_value })

# Create a new data frame so that popular items is stil available for use, un-formatted.  It was messing with the
# numbers for Total Purchase Value when re-using the formatted version.
# Sort the purchase count column in descending order:
popular_items_new = popular_items.sort_values(["Purchase Count"], ascending = False)

# Formatting the two monetary columns into $0.00:
popular_items_new["Item Price"] = popular_items["Item Price"].map("${:.2f}".format)
popular_items_new["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)

popular_items_new.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

# Most Profitable Items
 
* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [226]:
# ###  NOTE  to self  ###  Had to use the original popular_items dataframe, from before it was formatted 
# to print the output. Using the formatted one was causing errors with the Total Purchase Value column.

profitable_items = popular_items.sort_values("Total Purchase Value", ascending = False)

# Formatting the two monetary columns into $0.00:
profitable_items["Item Price"] = popular_items["Item Price"].map("${:.2f}".format)
profitable_items["Total Purchase Value"] = popular_items["Total Purchase Value"].map("${:.2f}".format)

profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80