In [ ]:
#Pandas Homework
#Heroes of Pymoli

In [17]:
import pandas as pd

In [18]:
file_to_load = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_to_load)

In [37]:
purchase_data.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

# Player Count
* Display the total number of players

In [38]:
player_count = len(purchase_data["SN"].unique())
players_df = pd.DataFrame({"Total Players": [player_count]})
players_df

   Total Players
0            576

# Purchasing Analysis (Total)
 
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# this formats the decimals to two places throughout:
pd.options.display.float_format = '{:,.2f}'.format

In [44]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = (purchase_data["Price"].mean())
number_of_purchases = len(purchase_data["Purchase ID"].unique())
total_revenue = purchase_data["Price"].sum()

purchasing_analysis_total_df = pd.DataFrame({"Unique Items": [unique_items], 
                                            "Average Price": [average_price],
                                            "Number of Purchases": [number_of_purchases],
                                            "Total Revenue": total_revenue
                                            })
format_dict = {"Average Price":'${:,.2f}', "Total Revenue": '${:,.2f}'}
purchasing_analysis_total_df.style.format(format_dict)

# Gender Demographics
 
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed